In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("insurance.csv")
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [3]:
df1 = df.copy()
df2 = df.copy()
df3 = df.copy()
df4 = df.copy()
df5 = df.copy()
df6 = df.copy()
df7 = df.copy()
df8 = df.copy()
df9 = df.copy()
df10 = df.copy()
df11 = df.copy()

**Replace**

In [4]:
df1.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [5]:
df1.sex = df1.sex.replace(["male","female"], [1,2])
df1.smoker = df1.smoker.replace(["yes","no"], [1,0])
df1.region = df1.region.replace(df.region.unique(), [1,2,3,4])
df1.head()

   age  sex     bmi  children  smoker  region      charges
0   19    2  27.900         0       1       1  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       3  21984.47061
4   32    1  28.880         0       0       3   3866.85520

**Label Encoder**

In [6]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [7]:
df2.sex = le.fit_transform(df2.sex)
df2.smoker = le.fit_transform(df2.smoker)
df2.region = le.fit_transform(df2.region)
df2.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       3  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       1  21984.47061
4   32    1  28.880         0       0       1   3866.85520

In [8]:
df3.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [9]:
#loop
for col in df3.columns:
    if df3[col].dtypes == "object":
        df3[col] = le.fit_transform(df3[col])

In [10]:
df3.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       3  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       1  21984.47061
4   32    1  28.880         0       0       1   3866.85520

**One Hot Encoding**

In [11]:
df4.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [12]:
dummies = pd.get_dummies(df4[['sex', 'smoker', 'region']], drop_first=True, prefix=['sex', 'smoker', 'region'])
dummies.head()

   sex_male  smoker_yes  region_northwest  region_southeast  region_southwest
0         0           1                 0                 0                 1
1         1           0                 0                 1                 0
2         1           0                 0                 1                 0
3         1           0                 1                 0                 0
4         1           0                 1                 0                 0

In [13]:
df4 = df4.drop(['sex', 'smoker', 'region'], axis=1)
df4.head()

   age     bmi  children      charges
0   19  27.900         0  16884.92400
1   18  33.770         1   1725.55230
2   28  33.000         3   4449.46200
3   33  22.705         0  21984.47061
4   32  28.880         0   3866.85520

In [14]:
df4 = pd.concat([df4, dummies], axis=1)
df4.head()

,age,bmi,children,charges,sex_male,smoker_yes,region_northwest,region_southeast,region_southwest
0,19,27.900,0,16884.92400,0,1,0,0,1
1,18,33.770,1,1725.55230,1,0,0,1,0
2,28,33.000,3,4449.46200,1,0,0,1,0
3,33,22.705,0,21984.47061,1,0,1,0,0
4,32,28.880,0,3866.85520,1,0,1,0,0

In [15]:
df5.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [16]:
# Loop

for col in df5.columns:
    if df5[col].dtypes == "object":
        oeh = pd.get_dummies(df5[col], drop_first=True, prefix=col)
        df5 = df5.drop(df5[[col]], axis=1)
        df5 = pd.concat([df5, oeh], axis=1)

In [17]:
df5.head()

,age,bmi,children,charges,sex_male,smoker_yes,region_northwest,region_southeast,region_southwest
0,19,27.900,0,16884.92400,0,1,0,0,1
1,18,33.770,1,1725.55230,1,0,0,1,0
2,28,33.000,3,4449.46200,1,0,0,1,0
3,33,22.705,0,21984.47061,1,0,1,0,0
4,32,28.880,0,3866.85520,1,0,1,0,0

**Ordinal**

In [18]:
from sklearn.preprocessing import OrdinalEncoder

In [19]:
df6.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [20]:
unique_data = [df6.sex.unique(), df6.smoker.unique(), df6.region.unique()]
unique_data

[array(['female', 'male'], dtype=object),
 array(['yes', 'no'], dtype=object),
 array(['southwest', 'southeast', 'northwest', 'northeast'], dtype=object)]

In [21]:
oe = OrdinalEncoder(categories=unique_data)

In [22]:
encode = oe.fit_transform(df6[['sex','smoker','region']])

In [23]:
df6[['sex','smoker','region']] = encode
df6.head()

   age  sex     bmi  children  smoker  region      charges
0   19  0.0  27.900         0     0.0     0.0  16884.92400
1   18  1.0  33.770         1     1.0     1.0   1725.55230
2   28  1.0  33.000         3     1.0     1.0   4449.46200
3   33  1.0  22.705         0     1.0     2.0  21984.47061
4   32  1.0  28.880         0     1.0     2.0   3866.85520

In [24]:
# Loop
df7.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [25]:
for col in df7.columns:
    if df7[col].dtypes == 'object':
        unique_data2 = df7[col].unique()
        oe2 = OrdinalEncoder(categories=[unique_data2])
        encode2 = oe2.fit_transform(df7[[col]])
        df7[col] = encode2

In [26]:
df7.head()

   age  sex     bmi  children  smoker  region      charges
0   19  0.0  27.900         0     0.0     0.0  16884.92400
1   18  1.0  33.770         1     1.0     1.0   1725.55230
2   28  1.0  33.000         3     1.0     1.0   4449.46200
3   33  1.0  22.705         0     1.0     2.0  21984.47061
4   32  1.0  28.880         0     1.0     2.0   3866.85520